@import "tailwindcss";

:root {
  --background: #020817;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  --font-urdu: 'Noto Nastaliq Urdu', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
}

[dir="rtl"] {
  text-align: right;
}
